fastapi>=0.68.0
uvicorn>=0.15.0
requests>=2.26.0
python-multipart>=0.0.5
python-json-logger>=2.0.0
setuptools>=65.5.1
sqlalchemy>=2.0.37
websockets>=14.2
aiohttp>=3.11.11
python-dotenv>=1.0.1
pydantic>=2.10.6
pyyaml>=6.0.2